@font-face {
    font-family: "哥特黑白无常";
    src: url(./哥特黑白无常.ttf);
}

body {
    background-image: url(../homepage/picture_home/desk.jpg);
    background-size: cover;
    font-family: "哥特黑白无常";
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 300px;
    height: 450px;
    color: white;
  }
  
  .container .label {
    font-size: 32px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input {
    width: 300px;
    height: 60px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .container .input:valid ~ .label,
  .container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-50px);
  }
  
  .container .input:valid,
  .container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .password {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    top: -80px;
    margin: 0 auto;
    width: 300px;
    height: 450px;
    color: white;
  }
  
  .password .label2 {
    font-size: 32px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input2 {
    width: 300px;
    height: 60px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input2:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .password .input2:valid ~ .label2,
  .password .input2:focus ~ .label2 {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-50px);
  }
  
  .password .input2:valid,
  .password .input2:focus {
    box-shradow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .login-button {
    display: block;
    position: relative;
    margin: auto;
    top: -405px;
    width: 300px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 30px;
    font-family: "哥特黑白无常";
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-button:active {
    box-shadow: inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.newcount-button {
  display: block;
  position: relative;
  margin: auto;
  top: -345px;
  width: 300px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 30px;
  font-family: "哥特黑白无常";
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.newcount-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.newcount-button:active {
  box-shadow: inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}