* {
    font-family: 'KaiTi';
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #ffffff;
}
header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 20px;
}
h1 {
    font-size: 3em;
    margin: 0;
}
h2 {
    font-size: 2em;
    margin-top: 20px;
}
p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px 0;
}
.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.movie img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 0;
    width: 100%;
}