@media (max-width:1000px) {
  body {font-size: 6px;}

  div #images {
      width: 100%;
  }
  div.img {
      margin: 3px;
      float: left;
      text-align: center;
  }
  div.img a img {
      display: inline-block;
      margin: 3px;
      width: 200px;
      height: 200px;
  }
  div.img a:hover img {
      transform: none;
  }
  div.desc {
      text-align: center;
      font: 12px ;
      width: 200px;
      margin: 10px 5px 10px 5px;
  }
  #main{height: auto;}
}

@font-face {
    font-family: "哥特黑白无常";
    src: url(./哥特黑白无常.ttf);
}
#bg{
    margin:auto;
    width:100%;
    height: 100%;
    position:absolute;
    bottom:0;
    left:0;
    background-image: url(./picture_home/desk.jpg);
    background-size: 100% 100%;
}
#title{
    height: 150px;
    position: relative;
    font-size:50px;
    font-family: "哥特黑白无常";
    ;
}

.buttons{
    position: relative;
    font-size: 30px;
}

/* From Uiverse.io by lenfear23 */ 
button{
    margin: 12px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "哥特黑白无常";
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: rgb(161, 161, 161);
    transition: 500ms;
    display: block;margin: 0 auto;
  }
  
  button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }
  
